* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #16a085;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
.container-header {
  background-color: var(--main-color);
  padding: 10px 15px;
}
.header-title {
  color: #fff;
  text-align: center;
}
.container-content {
  width: 60%;
  margin: 0 auto;
}
.form-container {
  display: flex;
  margin-top: 10px;
}
.form-container .input-text {
  flex: 8;
  padding: 10px;
  background-color: #ecf0f1;
  border: 0;
  color: var(--main-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-container .input-text::placeholder {
  color: var(--main-color);
}

.form-container .btn-submit {
  flex: 2;
  background-color: var(--main-color);
  border: 0;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
}

.todo-list-container {
  list-style-type: none;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.todo-list-container .todo-item {
  padding: 5px 10px;
  background-color: #16a085;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.todo-list-container .todo-item + .todo-item {
  margin-top: 2px;
}

.todo-list-container .todo-item .checkbox {
  margin-right: 5px;
  border: 0;
  cursor: pointer;
}

.todo-list-container .todo-item .btn-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.todo-list-container .todo-item .btn-container .btn-edit {
  font-size: 23px;
  color: #fff;
}

.todo-list-container .todo-item .btn-delete {
  color: #e74c3c;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: color;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}

.todo-list-container .todo-item span.completed {
  font-style: italic;
  text-decoration: line-through;
}
.item-nav {
  text-decoration: none;
  color: #fff;
}
